<div class="container">
  <h1>Welcome to Javaracer!</h1>
 <form action="/play" method="post">
<input name="player_1" placeholder="player one">
<input name="player_2" placeholder="player two">
<input type="submit" value="play" >
</form>
</div>
